/*Fomatting for splash page adapted from W3C Schools tutorial - https://www.w3schools.com/howto/howto_js_tabs.asp on the 5/12/18 */


body {font-family: Arial;
  background-color: #9A55B2;
  padding-right: 20%;
  padding-left: 25%;
  font-family: "Quattrocento Sans", serif;
  color: white;
}

h1 {
  text-align: center;
  font-family: "Quattrocento", serif;
  color:black;
}

#usersearchcontainer {
  text-align: center;
  padding-left: 30%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #9A55B2;
  background-color: #A993FF;
  align-self: center;
  text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #9A55B2;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #791B99;
}

/* Style the tab content */
.tabcontent {
  background-color: #791B99;
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  text-align: center;
  height: 30vw;
}

/* THIS WAS TAKEN FROM TUTORIAL ON TABLE CREATION,  */

table {
  padding-left: 25%; 
}

table, th, td 
{
  border: solid 1px #DDD;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {
  font-weight:bold;
}


/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* There is the option for more optimisation, but given the relatively low amount of content, I think 
the single media query works for the most part... */
@media only screen and (max-width: 800px ) {
  body {
    padding-right: 0%;
    padding-left: 0%;
  }

  .tabcontent {
    height: 80vw;
  }
}